.chat-main
  .group-info
    .details
      .details__group-name
        test
      .details__group-member
        Member:kida kosuke
    .group-info__edit
      .edit-btn
        = link_to "" do
          EDIT

  .message-list
    .message-block-first
      .info
        .info__name
          masa
        .info__data
          2020/07/05
      .message-block-first__content
        good morning!
    .message-block
      .info
        .info__name
          kosuke
        .info__data
          2020/07/04
      .message-block__content
        hello!
        
  .message-form
    = form_with model: [@group, @message], class: "form", local: true do |f|
      .form__content
        = f.text_field :text, class: "form__content__text", placeholder: "type a message"
        = f.label :image, class: "form__content__img" do
          = icon('far', 'image', class: "form__icon")
          = f.file_field :image, class: "hidden"
      f.submit "Send", class: "form__send"